.main {
  min-height: 100vh;
}

.main h1 {
  font-size: 3em;
  font-weight: bold;
  color: black;
}

.body {
  background-color: rgb(21, 74, 92);
}

.lotteryinfo a {
  font-size: 0.9em;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

